@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  background: url("Images/background.jpg") ;
  background-size: cover;
  font-family: 'Lemonada', cursive;
}
.container{
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
}
.container h1{
  font-size: 40px;
  border-bottom: 4px solid white;
  margin-bottom: 5px;
  padding: 9px 56px;
}
.box{
  width: 100%;
  border-bottom: 3px solid white;
  /* margin-top: 5px; */
  padding: 13px 0px;
  margin: 12px 10px;
}
.box i{
  width: 3%;
  /* float: left; */
  text-align: center;
  margin-top: 3px;
}

.box input{
  color: white;
  background: none;
  border-radius: 3px;
  width: 80%;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 5px 17px;
}
.btn{
  margin: 25px 10px;
  cursor: pointer;
  outline: none;
  width: 30%;
  font-size: 22px;
  padding: 6px 16px;
  border-radius: 10px;
  background: none;
  color: white;
  border: 3px solid white;
  position: absolute;
  left: 33%;
  font-family: 'Lemonada', cursive;
}
.btn:hover{
  background-color: whitesmoke;
  color: blueviolet;
}